extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/new-search" method="POST")
    p Enter your city:
      input(type="text" name="loc")
    p Enter the earliest day your date could be (YYYY-MM-DD):
      input(type="text" name="start")
    p Enter the latest day your date could be (YYYY-MM-DD):
      input(type="text" name="end")
    p On a scale of 1 to 4, how much do you want to spend on food?
      input(type="text" name="number")
    p What kind of food would you like to eat?
      input(type="text" name="food")
    input(type="submit")
