<!-- views/index.ejs -->
<!doctype html>
<html>
    <p class = "aligncenter">
        <img src="logo.jpg" width = "500"/>
    </p>

    <head>
        <title>Cheap Date.</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>

    <script>
        function validate(){
            var num = document.forms["bigsearch"]["number"];
            var type = document.forms["bigsearch"]["food"];

            if (num > 4){
                window.alert("please input a number between 1 and 4");
                name.focus();
                return false;
            }
            var matches = type.match(/\d+/g);
            if (matches != null) {
                window.alert("why are there numbers in your food type");
                name.focus();
                return false;
            }
            return true;

        }
    </script>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1> Cheap Date.</h1>
                <p>Login or Register with:</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>

            <div class="container">
                <h1 style="font-family: 'Lucida Console'"> Search below!</h1>
                <form name = "bigsearch" onsubmit="return validate()" action="/results" method="POST">
                    <p>Enter your city:
                        <input type="text" name="loc"/>
                    </p>
                    <p>Enter the earliest day your date could be (YYYY-MM-DD):
                        <input type="text" name="start"/>
                    </p>
                    <p>Enter the latest day your date could be (YYYY-MM-DD):
                        <input type="text" name="end"/>
                    </p>
                    <p>On a scale of 1 to 4, how much do you want to spend on food?
                        <input type="text" name="number"/>
                    </p>
                    <p>What kind of food would you like to eat?
                        <input type="text" name="food"/>
                    </p>
                    <input type="submit" value="send"/>
                </form>
            </div>
        </div>
    </body>
</html>