<!-- views/index.ejs -->
<!doctype html>
<html>
    <p class = "aligncenter">
        <img src="logo.jpg" width = "500"/>
    </p>

    <head>
        <title>Cheap Date.</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1> Cheap Date.</h1>
                <p>Login or Register with:</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>

            <div class="container">
                <h1> Search below! (not yet actually it sucks)</h1>
                <form name="search" method="POST" action="/search">
                    <table>
                        <td>Location</td>
                        <td><input type="text" name="location" ></td>
                        <td>Price (1 for <$20 total, 2 for $20-60, 3 for $60-100, 4 for $100+  </td>
                        <td><input type="text" name="price" ></td>
                        <td colspan="2"><input type="submit" value="Save" >
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>